
@{
    Dictionary<string, BE.IdiomaTraduccionBE> Traducciones = (Dictionary<string, BE.IdiomaTraduccionBE>)Session["Traducciones"];
    ViewBag.Title = Traducciones["ReporteCicloDeVidaActivos"].Texto;
}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">@Traducciones["ReporteCicloDeVidaActivos"].Texto</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
                <a>@Html.ActionLink(@Traducciones["Volver"].Texto, "Index", "Home", null, new { @class = "btn btn-sm btn-outline-secondary", @type = "button" })</a>

            </div>
        </div>
    </div>

    @if (ViewBag.ErrorFechas != null)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>@Traducciones["Error"].Texto:</strong> Intervalo de fechas inválido
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

<div class="container-fluid">
    @using (Html.BeginForm())

    {
    <div class="row g-3">
        <div class="col-md-6">
            <label for="inputState" class="form-label">@Traducciones["Tipo"].Texto</label>
            @Html.DropDownList("Tipo", new SelectList(ViewBag.Tipos, "Id", "Descripcion"), new { @class = "form-select" })
        </div>
        <div class="col-md-6">
            <label for="inputState" class="form-label">@Traducciones["Estado"].Texto</label>
            @Html.DropDownList("Estado", new SelectList(ViewBag.Estados, "Codigo", "Descripcion"), new { @class = "form-select" })
        </div>
        <div class="col-md-3">
            <label for="inputState" class="form-label">@Traducciones["DesdeFinCicloVida"].Texto</label>
            @Html.TextBox("Desde", "", new { type = "date", @autocomplete = "off", @required = "required",  @class="form-control datepicker" })
        </div>
        <div class="col-md-3">
            <label for="inputState" class="form-label">@Traducciones["HastaFinCicloVida"].Texto</label>
            @Html.TextBox("Hasta", "", new { type = "date", @autocomplete = "off", @required = "required", @class = "form-control datepicker" })
        </div>
        <div class="col-md-3">
            <label for="inputState" class="form-label">&nbsp</label>
            <input type="submit" value="@Traducciones["GenerarReporte"].Texto" formtarget="_blank" class="form-control btn btn-primary" />
            </div>
        </div>
        }
    </div>
</main>

<script>

        window.onload = function () {
            document.getElementById('reportes-collapse').className = 'show';
            document.getElementById('Rep1').className = 'btn-activo';
        };
</script>