
@{
    Dictionary<string, BE.IdiomaTraduccionBE> Traducciones = (Dictionary<string, BE.IdiomaTraduccionBE>)Session["Traducciones"];
    ViewBag.Title = Traducciones["ReporteAsignacionActivos"].Texto;
}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">@Traducciones["ReporteAsignacionActivos"].Texto</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
                <a>@Html.ActionLink(@Traducciones["Volver"].Texto, "Index", "Home", null, new { @class = "btn btn-sm btn-outline-secondary", @type = "button" })</a>

            </div>
        </div>
    </div>



    <div class="container-fluid">
        @using (Html.BeginForm())
        {
            @Html.DropDownList("Colaborador", new SelectList(ViewBag.Colaboradores, "Id", "NombreCompleto"), new { @class = "" })


        <input type="submit" value="@Traducciones["Filtrar"].Texto" formtarget="_blank" class="btn btn-sm btn-outline-secondary" />


        }
    </div>
</main>

<script>

        window.onload = function () {
            document.getElementById('reportes-collapse').className = 'show';
            document.getElementById('Rep1').className = 'btn-activo';
        };
</script>