@*@model IEnumerable<BE.PerfilComponenteBE>*@
@model BE.PerfilFamiliaBE
@{
    ViewBag.Title = "EditarGrupo";
}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Editar Grupo @Model.Descripcion.ToString()</h1>
        <div class="btn-toolbar mb-2 mb-md-0">

        </div>
    </div>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="form-horizontal">

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    <ul >
       
        @foreach (var item in Model.Hijos)
        {


            if (@item.Permiso.ToString() == "Ninguno")
            {

             <li >@item.Descripcion

                 <ul>
                     @foreach (var subitem in item.Hijos)
                     {
                         <li>@subitem.Descripcion</li>
                       
                     }
                 </ul>
            </li>
            }
            else

            {
            <li >@item.Descripcion</li>
            }



          }

        

</ul>
 </div>

    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>


</main>
<script>

    window.onload = function () {
        document.getElementById('account-collapse').className = 'show';
        document.getElementById('Grupos').className = 'btn-activo';
    };
</script>