
@model BE.UsuarioBE

@{
    ViewBag.Title = "Editar Perfil de Usuario";
}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Editar Perfil: @Model.Nombre @Model.Apellido </h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
                <a> @Html.ActionLink("Volver", "GrupoPermisos", null, new { @class = "btn btn-sm btn-outline-secondary", @type = "button" })</a>
                <button type="button" class="btn btn-sm btn-outline-secondary">Exportar</button>
            </div>

        </div>
    </div>


    @using (Html.BeginForm())

    {
        @Html.AntiForgeryToken()

        <div class="container-fluid">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)

            <div class="row">
                <div class="col-4">


                    <div class="input-group" style="max-width: 400px;">
                        <span class="input-group-text">Grupos</span>
                        @Html.DropDownList("Grupos", new SelectList(ViewBag.Familias, "Id", "Descripcion"), new { @class = "form-select", @Id = "GruposSel" })
                        <button class="btn btn-outline-secondary" type="button" onclick="ConfirmAgragarGrupo()">Agregar</button>
                    </div>
                    <br />
                    <div class="input-group" style="max-width: 400px;">
                        <span class="input-group-text">Permisos</span>
                        @Html.DropDownList("Grupos", new SelectList(ViewBag.Permisos, "Id", "Descripcion"), new { @class = "form-select", @Id = "PermisoSel" })
                        <button class="btn btn-outline-secondary" type="button" onclick="ConfirmAgragarPermiso()">Agregar</button>
                    </div>
                    <br />

                    <div class="alert alert-danger fade collapse" role="alert" id="Mensaje" style="max-width: 400px;">
                        El Elemento ya es parte del Grupo!
                    </div>


                </div>

                <div class="col-4">
                    <ul class="list-group" style="max-width: 400px;">
                        <li class="list-group-item active " aria-current="true">Permisos del Usuario:</li>
                        @foreach (var item in Model.Permisos)
                        {
                            if (@item.Permiso == null)
                            {
                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                    <div class="ms-2 me-auto">
                                        <div class="fw-bold"><i class="fa fa-folder"></i><a href="@Url.Action("EditarGrupo", "Permisos", new {id=item.Id })">&nbsp;@item.Descripcion</a> </div>
                                    </div>
                                    <span class="badge bg-primary rounded-pill">@item.Hijos.Count()</span>&nbsp;&nbsp; <span><a href="#" onclick="ConfirmDelete(@item.Id,'@item.Permiso')"><i class="fa fa-trash"></i></a></span>
                                </li>
                            }
                            else

                            {
                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                    <div class="ms-2 me-auto">
                                        <div class="fw-bold"><i class="fa fa-key"></i> @item.Descripcion</div>
                                    </div>
                                    <span><a href="#" onclick="ConfirmDelete(@item.Id,'@item.Permiso')"><i class="fa fa-trash"></i></a></span>
                                </li>
                            }

                        }
                    </ul>
                </div>
            </div>
        </div>

    }





</main>

<!-- Modal Eliminar-->
<div class="modal fade" id="Eliminar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Quitar Elemento </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Está seguro de que desea eliminar el elemento?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" onclick="EliminarComponente()">Quitar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Agregar Grupo -->
<div class="modal fade" id="ModalAgregarGrupo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar Elemento</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Está seguro de que desea agregar el Grupo al Perfil del Usuario?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" onclick="AgregarGrupo()">Agregar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Agregar Permiso -->
<div class="modal fade" id="ModalAgregarPermiso" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar Elemento</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Está seguro de que desea agregar el Permiso al Perfil del Usuario?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" onclick="AgregarPermiso()">Agregar</button>
            </div>
        </div>
    </div>
</div>

@*PAra eliminar, Campo Oculto para el Id de la familia y el tipo de componente*@
<input type="hidden" id="IdComponente" />
<input type="hidden" id="Tipo" />

<script>

    window.onload = function () {
        document.getElementById('account-collapse').className = 'show';
        document.getElementById('Usuarios').className = 'btn-activo';
    };
</script>


@section scripts{


    <script>
        var ConfirmAgragarGrupo = function (CompId) {

            $("#ModalAgregarGrupo").modal('show');
        }
        var AgregarGrupo = function () {

            var GrupoSeleccionado = $('#GruposSel').val();
            var ComponentesActuales =@Html.Raw(Json.Encode(Model.Permisos));
            var UsuarioActual =@Html.Raw(Json.Encode(Model.Id));

            if ((ComponentesActuales.find(element => element.Id == GrupoSeleccionado))) // No permitir agregar un permiso que ya exista

            {

                $('#Mensaje').addClass('show');
                window.setTimeout(function () {
                    $('#Mensaje').removeClass('show');
                }, 2000);

                $("#ModalAgregarGrupo").modal("hide");
            }

            else {

                $.ajax({

                    type: "POST",
                    url: "/Permisos/AgregarElementoAlPerfil",
                    data: { Item: GrupoSeleccionado, Tipo: 'Grupo', Usuario: UsuarioActual },
                    success: function (response) {
                        if (response.success) {
                            $("#ModalAgregarGrupo").modal("hide");
                            location.reload();
                        } else {
                            $("#ModalAgregarGrupo").modal("hide");
                            $('#Mensaje2').addClass('show');
                            window.setTimeout(function () {
                                $('#Mensaje2').removeClass('show');
                            }, 2000);
                        }
                    }

                })
            }
        }
    </script>

    <script>
        var ConfirmAgragarPermiso = function (CompId) {

            $("#ModalAgregarPermiso").modal('show');
        }
        var AgregarPermiso = function () {

            var PermisoSeleccionado = $('#PermisoSel').val();
            var ComponentesActuales =@Html.Raw(Json.Encode(Model.Permisos));
            var UsuarioActual =@Html.Raw(Json.Encode(Model.Id));

            if ((ComponentesActuales.find(element => element.Id == PermisoSeleccionado))) // No permitir agregar al grupo un permiso que ya exista

            {

                $('#Mensaje').addClass('show');
                window.setTimeout(function () {
                    $('#Mensaje').removeClass('show');
                }, 2000);

                $("#ModalAgregarPermiso").modal("hide");
            }

            else {
                
                $.ajax({

                    type: "POST",
                    url: "/Permisos/AgregarElementoAlPerfil",
                    data: { Item: PermisoSeleccionado, Tipo: 'Permiso', Usuario: UsuarioActual},
                    success: function (result) {

                        $("#ModalAgregarPermiso").modal("hide");
                        location.reload();
                    }
                })
            }
        }
    </script>

    <script>

        var ConfirmDelete = function (CompId,Tipo) {

            $("#IdComponente").val(CompId);
            $("#Tipo").val(Tipo);
            $("#Eliminar").modal('show');
        }

        var EliminarComponente = function () {
            var Comp = $("#IdComponente").val();
            var Tipo = $("#Tipo").val();
            var Usuario = '@Model.Id';

            $.ajax({

                type: "POST",
                url: "/Permisos/QuitarElementoDelPerfil",
                data: { Item: Comp,Tipo:Tipo,Usuario:Usuario},
                success: function (result) {

                    $("#Eliminar").modal("hide");
                    location.reload();
                }
            })
        }
    </script>
}

