@model X.PagedList.PagedList<BE.PerfilPatenteBE>

@using X.PagedList.Mvc
@using X.PagedList.Mvc.Common
@{
    Dictionary<string, BE.IdiomaTraduccionBE> Traducciones = (Dictionary<string, BE.IdiomaTraduccionBE>)Session["Traducciones"];
    ViewBag.Title = Traducciones["PermisosDelSistema"].Texto;
}


<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">@Traducciones["PermisosDelSistema"].Texto</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
                @using (Html.BeginForm())
                {
                    <div class="btn-group me-2">
                        <span>
                            @Traducciones["Buscar"].Texto @Html.TextBox("Dato_Buscar", ViewBag.ValorFiltro as string, new { @autocomplete = "off", @autofocus = "" })

                        </span>
                    </div>
                }
            <button type="button" class="btn btn-sm btn-outline-secondary"> @Traducciones["Exportar"].Texto</button>
            </div>

        </div>
    </div>

    <div class="container-fluid">

        <table class="table table-hover">
            <thead>
                <tr>

                    <th scope="col"> @Traducciones["Permiso"].Texto</th>
                    <th scope="col"> @Traducciones["Descripcion"].Texto</th>


                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)

                {
                    <tr>

                        <td>@Html.DisplayFor(model => item.Permiso)</td>
                        <td>@Html.DisplayFor(model => item.Descripcion)</td>


                    </tr>

                }

            </tbody>
        </table>
        <div class="pagination">
            @Html.PagedListPager(Model, pagina => Url.Action("Permisos", new { pagina, Valor_Filtro = ViewBag.ValorFiltro }),
            new PagedListRenderOptions
            {
                DisplayLinkToIndividualPages = true,
                DisplayPageCountAndCurrentLocation = false,
                MaximumPageNumbersToDisplay = 8,
                LiElementClasses = new string[] { "page-item" },
                PageClasses = new string[] { "page-link" },
            })
        </div>
    </div>

</main>


<script>

    window.onload = function () {
        document.getElementById('account-collapse').className = 'show';
        document.getElementById('Permisos').className = 'btn-activo';
    };
</script>