@{
    Dictionary<string, BE.IdiomaTraduccionBE> Traducciones = (Dictionary<string, BE.IdiomaTraduccionBE>)Session["Traducciones"];
    ViewBag.Title = Traducciones["Inicio"].Texto;
}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="container-fluid">

        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h3 mb-0 text-gray-800">@Traducciones["Dashboard"].Texto</h1>
            <div class="btn-toolbar mb-2 mb-md-0">

            </div>
        </div>



        <!-- Contenido Row -->
        <div class="row">

            <!-- Dispostivos  -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="shadow h-100 py-2" style="border-left: .25rem solid #4e73df !important">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1"><strong>@Traducciones["Dispositivos"].Texto</strong></div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.CantidadDispositivos</div>
                            </div>
                            <div class="col-auto">
                                <i class="fa fa-desktop fa-2x" style="color: #dddfeb"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Licencias -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card shadow h-100 py-2" style="border-left: .25rem solid #1cc88a !important">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1"><strong>@Traducciones["ContratosDeLicencia"].Texto</strong></div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.CantidadContratosLicencia</div>
                            </div>
                            <div class="col-auto">
                                <i class="fa fa-paperclip fa-2x" style="color: #dddfeb"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Colaboradores -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class=" shadow h-100 py-2" style="border-left: .25rem solid #36b9cc !important">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1"><strong>@Traducciones["Colaboradores"].Texto</strong></div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.CantidadColaboradores</div>
                            </div>
                            <div class="col-auto">
                                <i class="fa fa-user-circle fa-2x" style="color: #dddfeb"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Departamentos -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card  shadow h-100 py-2" style=" border-left: .25rem solid #f6c23e !important">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1"><strong>@Traducciones["Departamentos"].Texto</strong></div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.CantidadDepartamentos</div>
                            </div>
                            <div class="col-auto">
                                <i class="fa fa-users fa-2x " style="color: #dddfeb"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Content Row -->
        <!--Comienzo Dashboard -->

        <div class="row">

            <!-- Content Column -->
            <div class="col-lg-6 mb-4">

                <!-- Estado General -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">@Traducciones["EstadoGeneral"].Texto</h6>
                    </div>
                    <div class="card-body">
                        <h4 class="small font-weight-bold">@Traducciones["ActivosAsignados"].Texto <span class="float-right">@ViewBag.PorcentajeActivosAsignados%</span></h4>
                        <div class="progress mb-4">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: @ViewBag.PorcentajeActivosAsignados%" aria-valuenow="@ViewBag.PorcentajeActivosAsignados" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <h4 class="small font-weight-bold">@Traducciones["ActivosDisponibles"].Texto <span class="float-right">@ViewBag.PorcentajeActivosDisponibles%</span></h4>
                        <div class="progress mb-4">
                            <div class="progress-bar bg-warning" role="progressbar" style="width: @ViewBag.PorcentajeActivosDisponibles%" aria-valuenow="@ViewBag.PorcentajeActivosDisponibles" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <h4 class="small font-weight-bold">@Traducciones["ActivosDeBaja"].Texto <span class="float-right">@ViewBag.PorcentajeActivosBaja%</span></h4>
                        <div class="progress mb-4">
                            <div class="progress-bar bg-info" role="progressbar" style="width: @ViewBag.PorcentajeActivosBaja%" aria-valuenow="@ViewBag.PorcentajeActivosBaja" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <h4 class="small font-weight-bold">@Traducciones["LicenciasAsignadas"].Texto <span class="float-right">@ViewBag.PorcentajeLicenciasAsignadas%</span></h4>
                        <div class="progress mb-4">
                            <div class="progress-bar bg-black" role="progressbar" style="width: @ViewBag.PorcentajeLicenciasAsignadas%" aria-valuenow="@ViewBag.PorcentajeLicenciasAsignadas" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>

                    </div>
                </div>



            </div>


            <!-- Gráfico de Torta -->
            <div class="col-lg-6 mb-4">
                <div class="card shadow mb-4">
                    <!-- Cabecera -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">@Traducciones["TiposDeDispositivos"].Texto</h6>

                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <div class="chart-pie pt-4 pb-2">
                            <canvas id="TipoDispositivo"></canvas>
                        </div>
                        <div class="mt-4 text-center small">
                            <span class="mr-2">
                                <i class="fa fa-circle" style="color:#1cc88a"></i> @Traducciones["Pc"].Texto
                            </span>
                            <span class="mr-2">
                                <i class="fa fa-circle" style="color: #4e73df"></i> @Traducciones["Notebook"].Texto
                            </span>
                            <span class="mr-2">
                                <i class="fa fa-circle" style="color: #b54040"></i> @Traducciones["Tablet"].Texto
                            </span>
                            <span class="mr-2">
                                <i class="fa fa-circle" style="color: #edcd2c"></i> @Traducciones["Celular"].Texto
                            </span>
                            <span class="mr-2">
                                <i class="fa fa-circle" style="color: #9650a5"></i> @Traducciones["Monitor"].Texto
                            </span>
                            <span class="mr-2">
                                <i class="fa fa-circle" style="color: #109b0d"></i> @Traducciones["Impresora"].Texto
                            </span>
                        </div>
                        <br />
                    </div>
                </div>
            </div>



        </div>



    </div>
    <!-- /.container-fluid -->
    <!-- / Notificaciones de la Inteligencia de Negocio -->


    <div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 11">

        @if (ViewBag.AnalisisOciosos != null)
        {
            <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <i class="fa fa-bell"></i>&ensp;
                    <strong class="me-auto">@Traducciones["AnalisisDeActivosOciosos"].Texto</strong>

                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                    @Traducciones["NotificacionActivosOciosos"].Texto @Html.ActionLink(Traducciones["Ver"].Texto, "AnalisisActivosOciosos", "Inteligencia", null, new { @class = "link-dark rounded" })
                </div>
            </div>
        }
        @if (ViewBag.AnalisisColaborador != null)
        {
            <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <i class="fa fa-bell"></i>&ensp;
                    <strong class="me-auto">@Traducciones["AnalisisColaboradorVsRecursos"].Texto</strong>

                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                    @Traducciones["NotificacionColaboradorActivo"].Texto @Html.ActionLink(Traducciones["Ver"].Texto, "AnalisisColaboradorActivos", "Inteligencia", null, new { @class = "link-dark rounded" })
                </div>
            </div>

        }

    </div>


</main>


@section scripts{


    <script src="~/Scripts/chart.js"></script>
    <script src="~/Scripts/chart-area.js"></script>
    <script src="~/Scripts/chart-pie.js"></script>



    <script>
        $(document).ready(function () {
       
                $('.toast').toast('show');
           
        });
    </script>



}