
@{

    var Permisos = (List<string>)Session["Permisos"];
    var Idioma = (BE.IdiomaBE)Session["IdiomaSelected"];
    Dictionary<string, BE.IdiomaTraduccionBE> Traducciones = (Dictionary<string, BE.IdiomaTraduccionBE>)Session["Traducciones"];
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>@ViewBag.Title - A2Cloud</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @@media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <link href="~/Content/sidebars.css" rel="stylesheet">


</head>
<body>

    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">

        @Html.ActionLink("A2Cloud", "Index", "Home", null, new { @class = "navbar-brand col-md-3 col-lg-2 me-0 px-3" })

        <button class="navbar-toggler  d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="col-md-1 ">
            @Html.DropDownList("Idiomas", new SelectList((System.Collections.IEnumerable)Session["Idiomas"], "Id", "Descripcion"), new { @id = "selIdioma", @class = "form-select", @onchange = "CambiarIdioma();" })
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-secondary  dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="">
                @if (Session["NombreCompleto"] != null)
                {@Session["NombreCompleto"].ToString()}
            </button>
            <ul class="dropdown-menu dropdown-menu-end">

                <li><a class="dropdown-item" href="@Url.Action("CambiarContraseña", "Usuario", new { id = Session["IdUsuario"] })">@Traducciones["CambiarContraseña"].Texto</a></li>
                <li><hr class="dropdown-divider"></li>
                <li>@Html.ActionLink(@Traducciones["CerrarSesion"].Texto, "Logout", "Login", null, new { @class = "dropdown-item" })</li>

            </ul>

        </div>
    </header>

    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="flex-shrink-0 p-3 ">

                    <ul class="list-unstyled ps-0">
                        @{ if (Permisos.Exists(per => per.ToString() == "GestionDeActivos"))

                            {
                                <li class="mb-1">
                                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#activos-collapse" aria-expanded="false">
                                        @Traducciones["GestionDeActivos"].Texto
                                    </button>
                                    <div class="collapse" id="activos-collapse">
                                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">

                                            <li>@Html.ActionLink(Traducciones["Activos"].Texto, "Index", "Activo", null, new { @class = "link-dark rounded", @id = "Activos" })</li>
                                            <li>@Html.ActionLink(Traducciones["Marcas"].Texto, "Index", "Marca", null, new { @class = "link-dark rounded", @id = "Marcas" })</li>                                          
                                            <li><a href="#" class="link-dark rounded">@Traducciones["PerfilesDeHardware"].Texto</a></li>
                                            <li><a href="#" class="link-dark rounded">@Traducciones["AsignacionDeActivos"].Texto</a></li>
                                        </ul>
                                    </div>
                                </li>
                            } }
                            @{ if (Permisos.Exists(per => per.ToString() == "GestionDeLicencias"))

                                {
                                    <li class="mb-1">
                                        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#licencias-collapse" aria-expanded="false">
                                            @Traducciones["GestionDeLicencias"].Texto
                                        </button>
                                        <div class="collapse" id="licencias-collapse">
                                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                                <li>@Html.ActionLink(Traducciones["ProductosDeSoftware"].Texto, "Index", "ProductoSoftware", null, new { @class = "link-dark rounded", @id = "ProdSoft" })</li>
                                                <li>@Html.ActionLink(Traducciones["ContratosDeLicencia"].Texto, "Index", "Licencia", null, new { @class = "link-dark rounded", @id = "Licencias" })</li>
                                                <li><a href="#" class="link-dark rounded">@Traducciones["AsignacionDeLicencias"].Texto</a></li>


                                            </ul>
                                        </div>
                                    </li>
                                } }
                                @{ if (Permisos.Exists(per => per.ToString() == "GestionDeOrganizacion"))

                                    {
                                        <li class="mb-1">
                                            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#org-collapse" aria-expanded="false">
                                                @Traducciones["Organizacion"].Texto
                                            </button>
                                            <div class="collapse" id="org-collapse">
                                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                                    <li><a href="#" class="link-dark rounded">@Traducciones["Configurar"].Texto</a></li>
                                                    <li><a href="#" class="link-dark rounded">@Traducciones["Colaboradores"].Texto</a></li>
                                                    <li>@Html.ActionLink(Traducciones["Departamentos"].Texto, "Index", "Departamento", null, new { @class = "link-dark rounded", @id = "Departamento" })</li>
                                                </ul>
                                            </div>
                                        </li>
                                    } }
                                    @{ if (Permisos.Exists(per => per.ToString() == "GestionDePresupuesto"))

                                        {
                                            <li class="mb-1">
                                                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#presup-collapse" aria-expanded="false">
                                                    @Traducciones["Presupuesto"].Texto
                                                </button>
                                                <div class="collapse" id="presup-collapse">
                                                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                                        <li><a href="#" class="link-dark rounded">@Traducciones["EstimacionDePresupuesto"].Texto</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                        } }
                                        @{ if (Permisos.Exists(per => per.ToString() == "GestionInteligenteDeActivos"))

                                            {
                                                <li class="mb-1">
                                                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#int-collapse" aria-expanded="false">
                                                        @Traducciones["GestionInteligenteActivos"].Texto
                                                    </button>
                                                    <div class="collapse" id="int-collapse">
                                                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                                            <li><a href="#" class="link-dark rounded">@Traducciones["AnalisisDeActivosOciosos"].Texto</a></li>
                                                            <li><a href="#" class="link-dark rounded">@Traducciones["AnalisisColaboradorVsRecursos"].Texto  </a></li>
                                                            <li><a href="#" class="link-dark rounded">@Traducciones["OptimizacionDeAsignaciones"].Texto</a></li>
                                                        </ul>
                                                    </div>
                                                </li>
                                            } }
                                            <li class="border-top my-3"></li>
                                            @{ if (Permisos.Exists(per => per.ToString() == "GestionDeUsuarios"))

                                                {
                                                    <li class="mb-1">
                                                        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
                                                            @Traducciones["GestionDeUsuarios"].Texto
                                                        </button>
                                                        <div class="collapse" id="account-collapse">
                                                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">


                                                                <li>@Html.ActionLink(Traducciones["Usuarios"].Texto, "Index", "Usuario", null, new { @class = "link-dark rounded", @id = "Usuarios" })</li>

                                                                <li>@Html.ActionLink(Traducciones["GruposDePermisos"].Texto, "GrupoPermisos", "Permisos", null, new { @class = "link-dark rounded", @id = "Grupos" })</li>


                                                                <li>@Html.ActionLink(Traducciones["PermisosDelSistema"].Texto, "Permisos", "Permisos", null, new { @class = "link-dark rounded", @id = "Permisos" })</li>

                                                            </ul>
                                                        </div>
                                                    </li>
                                                } }
                                                @{ if (Permisos.Exists(per => per.ToString() == "GestionDeIdiomas"))

                                                    {
                                                        <li class="mb-1">
                                                            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#idioma-collapse" aria-expanded="false">
                                                                @Traducciones["GestionDeIdiomas"].Texto

                                                            </button>
                                                            <div class="collapse" id="idioma-collapse">
                                                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                                                    <li>@Html.ActionLink(Traducciones["Idiomas"].Texto, "index", "Idioma", null, new { @class = "link-dark rounded", @id = "Idioma" })</li>

                                                                </ul>
                                                            </div>
                                                        </li>
                                                    } }
                                                    @{ if (Permisos.Exists(per => per.ToString() == "GestionDeBaseDeDatos"))

                                                        {
                                                            <li class="mb-1">
                                                                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#db-collapse" aria-expanded="false">
                                                                @Traducciones["GestionBaseDeDatos"].Texto
                                                                
                                                                </button>
                                                                <div class="collapse" id="db-collapse">
                                                                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                                                        <li>@Html.ActionLink(Traducciones["CopiasDeSeguridad"].Texto, "Backup", "Db", null, new { @class = "link-dark rounded", @id = "CopiasSeg" })</li>
                                                                        <li>@Html.ActionLink(Traducciones["VerificacionDeIntegridad"].Texto, "Integridad", "Db", null, new { @class = "link-dark rounded", @id = "IntegridadDb" })</li>
                                                                    </ul>
                                                                </div>
                                                            </li>
                                                            } }
                                                            @{ if (Permisos.Exists(per => per.ToString() == "GestionDeBitacora"))

                                                                {
                                                                    <li class="mb-1">
                                                                        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#bit-collapse" aria-expanded="false">
                                                                     
                                                                           @Traducciones["Bitacora"].Texto
                                                                     
                                                                        </button>
                                                                        <div class="collapse" id="bit-collapse">
                                                                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">

                                                                                <li>@Html.ActionLink(Traducciones["Bitacora"].Texto, "Index", "Bitacora", null, new { @class = "link-dark rounded", @id = "Bitacora" })</li>

                                                                            </ul>
                                                                        </div>
                                                                    </li>
                                                                } }
                                                        </ul>
                </div>
            </nav>

            @RenderBody()

        </div>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>

<script type="text/javascript">
    $(document).ready(function () {
        $('#selIdioma').val(@Idioma.Id);

    });

    function CambiarIdioma() {
        var selValue = { id: $('#selIdioma').val() };
        $.ajax({
            url: "/Idioma/CambiarIdioma/",
            type: "get",
            dataType: "json",
            data: selValue,
            success: function (data) {
                if (data == 'Success') {
                    window.location.reload();
                }
                else {
         
                }

            }
        });
    };

</script>

