@model BE.ColaboradorBE

@{
    Dictionary<string, BE.IdiomaTraduccionBE> Traducciones = (Dictionary<string, BE.IdiomaTraduccionBE>)Session["Traducciones"];
    ViewBag.Title = Traducciones["EditarColaborador"].Texto;
}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">@Traducciones["EditarColaborador"].Texto</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
                <a>@Html.ActionLink(@Traducciones["Volver"].Texto, "Index", null, new { @class = "btn btn-sm btn-outline-secondary", @type = "button" })</a>

            </div>
        </div>
    </div>
    <div class="container-fluid pull-left" style="max-width:1024px">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

        <div class="row gy-2 gx-3 align-items-center">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.Ubicacion.Id)

            <div class=" col-auto">
                <div class=" input-group col-md-10">
                    <span class="input-group-text">Id</span>
                    @Html.EditorFor(model => model.Id, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                    @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-auto">
                <div class=" input-group col-md-10">
                    <span class="input-group-text"> @Traducciones["Nombre"].Texto</span>
                    @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-auto">
                <div class="input-group col-md-10">
                    <span class="input-group-text"> @Traducciones["Apellido"].Texto</span>
                    @Html.EditorFor(model => model.Apellido, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Apellido, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-auto">
                <div class="input-group col-md-10">
                    <span class="input-group-text"> @Traducciones["Email"].Texto</span>
                    @Html.EditorFor(model => model.Mail, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Mail, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-auto">
                <div class="input-group col-md-10">
                    <span class="input-group-text"> @Traducciones["Departamento"].Texto</span>
                    @Html.DropDownListFor(model => model.Departamento.Id, new SelectList((System.Collections.IEnumerable)ViewData["Departamentos"], "Id", "Descripcion"), new { @class = "form-control" })
                </div>
            </div>
            <div class="col-auto">
                <div class="input-group col-md-10">
                    <span class="input-group-text"> @Traducciones["PerfilDeHardware"].Texto</span>
                    @Html.DropDownListFor(model => model.PerfilHardware.Id, new SelectList((System.Collections.IEnumerable)ViewData["Perfiles"], "Id", "Descripcion"), new { @class = "form-control" })
                </div>
            </div>

            <div class="col-auto">
                <div class="input-group col-md-10">
                    <span class="input-group-text"> @Traducciones["Calle"].Texto</span>
                    @Html.EditorFor(model => model.Ubicacion.Calle, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Ubicacion.Calle, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-auto">
                <div class="input-group col-md-10">
                    <span class="input-group-text"> @Traducciones["Numero"].Texto</span>
                    @Html.EditorFor(model => model.Ubicacion.Altura, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Ubicacion.Altura, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-auto">
                <div class="input-group col-md-10">
                    <span class="input-group-text"> @Traducciones["CodigoPostal"].Texto</span>
                    @Html.EditorFor(model => model.Ubicacion.CodigoPostal, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Ubicacion.CodigoPostal, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-auto">
                <div class="input-group col-md-10">
                    <span class="input-group-text"> @Traducciones["Piso"].Texto</span>
                    @Html.EditorFor(model => model.Ubicacion.Piso, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Ubicacion.Piso, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-auto">
                <div class="input-group col-md-10">
                    <span class="input-group-text"> @Traducciones["NumeroDepartamento"].Texto</span>
                    @Html.EditorFor(model => model.Ubicacion.Departamento, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Ubicacion.Departamento, "", new { @class = "text-danger" })
                </div>
            </div>



            <br />
            <div class="form-group col-sm-4">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="@Traducciones["Guardar"].Texto" class="btn btn-primary" />
                </div>
            </div>



        </div>
        }
    </div>
</main>

<script>

        window.onload = function () {
            document.getElementById('org-collapse').className = 'show';
            document.getElementById('Colaborador').className = 'btn-activo';
        };
</script>

