@model X.PagedList.PagedList<BE.BitacoraBE>

@using X.PagedList.Mvc
@using X.PagedList.Mvc.Common

@{

    Dictionary<string, BE.IdiomaTraduccionBE> Traducciones = (Dictionary<string, BE.IdiomaTraduccionBE>)Session["Traducciones"];
    ViewBag.Title = Traducciones["Bitacora"].Texto;

}


<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">@Traducciones["Bitacora"].Texto</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            @using (Html.BeginForm())
            {
                <label>@Traducciones["Usuario"].Texto:</label>
                @Html.DropDownList("Usuario", new SelectList(ViewBag.Usuarios, "Id", "Credencial.Mail"), new { @class = ""})
                <label>@Traducciones["Desde"].Texto:</label>
                @Html.TextBox("FechaDesde", ViewBag.FechaDesde as string, new { @class = "datepicker", @autocomplete = "off" });
                <label>@Traducciones["Hasta"].Texto:</label>
                @Html.TextBox("FechaHasta", ViewBag.FechaHasta as string, new { @class = "datepicker", @autocomplete = "off" });
                <input type="submit" value="@Traducciones["Filtrar"].Texto" />

            }

        </div>
    </div>

    <div class="container-fluid">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">@Traducciones["Fecha"].Texto</th>
                    <th scope="col">@Traducciones["Detalle"].Texto</th>
                    <th scope="col">@Traducciones["Usuario"].Texto</th>


                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)

                {
                    <tr>
                        <th scope="row">@Html.DisplayFor(model => item.Id)</th>
                        <td>@Html.DisplayFor(model => item.FechaCreacion)</td>
                        <td>@Html.DisplayFor(model => item.Detalle)</td>
                        <td>@Html.DisplayFor(model => item.UsuarioCreacion.Credencial.Mail)</td>



                    </tr>

                }

            </tbody>
        </table>
        <div class="pagination">
            @Html.PagedListPager(Model, pagina => Url.Action("Index", new { pagina,Usuario=ViewBag.Usuario, FechaDesde=ViewBag.FechaDesde, FechaHasta=ViewBag.FechaHasta }),
            new PagedListRenderOptions
            {
                DisplayLinkToIndividualPages = true,
                DisplayPageCountAndCurrentLocation = false,
                MaximumPageNumbersToDisplay = 8,
                LiElementClasses = new string[] { "page-item" },
                PageClasses = new string[] { "page-link" },
            })
        </div>


    </div>


</main>
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
@section scripts{
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".datepicker").datepicker({
                dateFormat: "dd-mm-yy",
                changemonth: true,
                changeyear: true
            });
        });
    </script>
    <script>
        $(function () {
            $('ul.pagination > li > a').addClass('page-link');
        });
    </script>

    <script>

        window.onload = function () {
            document.getElementById('bit-collapse').className = 'show';
            document.getElementById('Bitacora').className = 'btn-activo';
        };
    </script>

}