@model PagedList.IPagedList<BE.BitacoraBE>
@using PagedList
@using PagedList.Mvc


<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Bitácora</h1>
        <div class="btn-toolbar mb-2 mb-md-0">

        </div>
    </div>

    <div class="container-fluid">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Detalle</th>
                    <th scope="col">Usuario</th>


                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)

                {
                    <tr>
                        <th scope="row">@Html.DisplayFor(model => item.Id)</th>
                        <td>@Html.DisplayFor(model => item.FechaCreacion)</td>
                        <td>@Html.DisplayFor(model => item.Detalle)</td>
                        <td>@Html.DisplayFor(model => item.UsuarioCreacion.Credencial.Mail)</td>



                    </tr>



                }

            </tbody>
        </table>
        <div class="pagination">
            @Html.PagedListPager(Model, pagina => Url.Action("Index", new { pagina }),PagedListRenderOptions.Classic)
        </div>
        @*<div class="pagination" style="margin-left: 400px">
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
            of @Model.PageCount   @Html.PagedListPager(Model, pagina => Url.Action("Index", new { pagina }))
        </div>*@
    </div>


</main>
