@model X.PagedList.PagedList<BE.BackupBE>

@using X.PagedList.Mvc
@using X.PagedList.Mvc.Common

@{
    Dictionary<string, BE.IdiomaTraduccionBE> Traducciones = (Dictionary<string, BE.IdiomaTraduccionBE>)Session["Traducciones"];
    ViewBag.Title = Traducciones["CopiasDeSeguridad"].Texto;
}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">@Traducciones["CopiasDeSeguridad"].Texto</h1>
        <div class="btn-toolbar mb-2 mb-md-0">

            @using (Html.BeginForm())
            {
                <div class="btn-group me-2">
                    <span>
                        @Traducciones["Buscar"].Texto @Html.TextBox("Dato_Buscar", ViewBag.ValorFiltro as string, new { @autocomplete = "off", @autofocus = "" })

                    </span>
                </div>
            }
            <div class="btn-group me-2">
                <a>@Html.ActionLink(Traducciones["Nuevo"].Texto, "Create", "Db", null, new { @class = "btn btn-sm btn-outline-secondary", @type = "button" })</a>
                <button type="button" class="btn btn-sm btn-outline-secondary">@Traducciones["Exportar"].Texto</button>
            </div>

        </div>
    </div>

    <div class="container-fluid">


        @if (ViewBag.Resultado != null && ViewBag.Resultado == "Creado")
        {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>@Traducciones["Correcto"].Texto:</strong> @Traducciones["BackupCreadoCorrectamente"].Texto
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        }
        @if (ViewBag.Resultado != null && ViewBag.Resultado == "RestauradoOk")
        {
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>@Traducciones["Correcto"].Texto:</strong> @Traducciones["BackupRestauradoCorrectamente"].Texto (@ViewBag.Fecha)
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
        }

        @if (ViewBag.Resultado != null && ViewBag.Resultado == "ErrorDv")
        {
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>@Traducciones["Error"].Texto:</strong> @Traducciones["BackupErrorEnDv"].Texto
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
        }

        <table class="table table-hover">
            <thead>
                <tr>

                    <th scope="col">@Traducciones["FechaCreacion"].Texto</th>
                    <th scope="col">@Traducciones["Nombre"].Texto</th>
                    <th scope="col">@Traducciones["Acciones"].Texto</th>


                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)

                {
                    <tr>
                        <th scope="row">@Html.DisplayFor(model => item.FechaCreacion)</th>
                        <th scope="row">@Html.DisplayFor(model => item.Nombre)</th>


                        <td>

                            <a href="@Url.Action("Restaurar", "Db", new { nombre = item.Nombre,creacion=item.FechaCreacion })">@Traducciones["Restaurar"].Texto</a>&ensp;&ensp;
                            <a href="#" onclick="Confirmar('@item.Nombre')"><i class="fa fa-trash"></i></a>

                        </td>

                    </tr>



                }

            </tbody>
        </table>

        <div class="pagination">
            @Html.PagedListPager(Model, pagina => Url.Action("Backup", new { pagina, Valor_Filtro = ViewBag.ValorFiltro }),
            new PagedListRenderOptions
            {
                DisplayLinkToIndividualPages = true,
                DisplayPageCountAndCurrentLocation = false,
                MaximumPageNumbersToDisplay = 8,
                LiElementClasses = new string[] { "page-item" },
                PageClasses = new string[] { "page-link" },
            })
        </div>
    </div>

    <!-- Modal Confirmar Eliminación-->
    <div class="modal fade" id="Confirmar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Eliminar </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Está seguro que desea Eliminar el Backup?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" onclick="Eliminar()">Confirmar</button>
                </div>
            </div>
        </div>
    </div>


</main>


@*PAra eliminar, Campo Oculto para el Nombre*@

<input type="hidden" id="NombreBackup" />
<script>

    window.onload = function () {
        document.getElementById('db-collapse').className = 'show';
        document.getElementById('CopiasSeg').className = 'btn-activo';
    };
</script>

<script>
    var Confirmar = function (nombre) {

        $("#NombreBackup").val(nombre);
        $("#Confirmar").modal('show');
    }

    var Eliminar = function () {

        var Nombre = $('#NombreBackup').val();

        $.ajax({

            type: "POST",
            url: "/Db/Delete",
            data: { Nombre: Nombre },
            success: function (response) {
                if (response.success) {
                    $("#Confirmar").modal("hide");
                    location.reload();

                } else { }
            }
        })
    }

</script>
