@model BE.ProductoSoftwareBE

@{
    Dictionary<string, BE.IdiomaTraduccionBE> Traducciones = (Dictionary<string, BE.IdiomaTraduccionBE>)Session["Traducciones"];
    ViewBag.Title = Traducciones["ProductoSoftware"].Texto;
}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">@Traducciones["ProductoSoftware"].Texto</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <a>@Html.ActionLink(@Traducciones["Volver"].Texto, "Index", null, new { @class = "btn btn-sm btn-outline-secondary", @type = "button" })</a>
        </div>
    </div>

    <div>
        <dl class="dl-horizontal">

            <dt>
                Id
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Id)
            </dd>
            <dt>
                @Traducciones["Descripcion"].Texto
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Descripcion)
            </dd>
            <dt>
                @Traducciones["Marca"].Texto
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Marca.Descripcion)
            </dd>
            <dt>
                @Traducciones["FechaCreacion"].Texto
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FechaCreacion)
            </dd>

            <dt>
                @Traducciones["FechaModificacion"].Texto
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FechaModificacion)
            </dd>



        </dl>
    </div>
    </main>


    <script>

        window.onload = function () {
            document.getElementById('licencias-collapse').className = 'show';
            document.getElementById('ProdSoft').className = 'btn-activo';
        };
    </script>
