@model BE.UsuarioBE

@{
    Dictionary<string, BE.IdiomaTraduccionBE> Traducciones = (Dictionary<string, BE.IdiomaTraduccionBE>)Session["Traducciones"];
    ViewBag.Title = Traducciones["EliminarUsuario"].Texto;
}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">@Traducciones["EliminarUsuario"].Texto</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
                <a>@Html.ActionLink(Traducciones["Volver"].Texto, "Index", null, new { @class = "btn btn-sm btn-outline-secondary", @type = "button" })</a>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="alert alert-danger" role="alert" style="max-width:500px;">
           ¿ @Traducciones["ConfirmaEliminarUsuario"].Texto @Html.DisplayFor(model => model.Credencial.Mail) ?
        </div>

        <div>

            <dl class="dl-horizontal">

                <dt>
                    @Html.DisplayNameFor(model => model.Id)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Id)
                </dd>
                <dt>
                    @Traducciones["FechaCreacion"].Texto
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FechaCreacion)
                </dd>

                <dt>
                    @Traducciones["FechaModificacion"].Texto
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FechaModificacion)
                </dd>

                <dt>
                    @Traducciones["Nombre"].Texto
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Nombre)
                </dd>

                <dt>
                    @Traducciones["Apellido"].Texto
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Apellido)
                </dd>

                <dt>
                    @Traducciones["Email"].Texto
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Credencial.Mail)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <br />
                <div class="form-actions no-color">
                    <input type="submit" value=" @Traducciones["Eliminar"].Texto" class="btn btn-danger" />

                </div>

                
            }
        </div>
    </div>
</main>
<script>

    window.onload = function () {
        document.getElementById('account-collapse').className = 'show';
        document.getElementById('Usuarios').className = 'btn-activo';
    };
</script>