@model BE.CredencialBE
@{
    Layout = null;
}


<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>A2Cloud - Login</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet">



    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @@media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

    <link href="~/Content/login.css" rel="stylesheet">
</head>

<body class="text-center">


    <main class="form-signin">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

        <form>
            @if (ViewBag.Resultado != null)
            {
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>No se pudo iniciar sesión: </strong>@ViewBag.Resultado
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }

            <img class="mb-4" src="~/Content/img/Logo.png" alt="" width="191" height="109">
            <h2 class="fw-normal" style="color:#148AB6" >A2Cloud</h2>
            <h1 class="h3 mb-3 fw-normal">Iniciar sesión</h1>

            <div class="form-floating">

                @Html.EditorFor(model => model.Mail, new { htmlAttributes = new { @class = "form-control", required = "required", @placeholder = "name@example.com" } })

            </div>
            <div class="form-floating">

                @Html.EditorFor(model => model.Contraseña, new { htmlAttributes = new { @class = "form-control", required = "required" } })

            </div>

            <div class="checkbox mb-3">
                <label>
                    <a href="#">Recuperar contraseña</a>
                </label>
            </div>


            <button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>
            <p class="mt-5 mb-3 text-muted">&copy; A2Cloud - 2021</p>


        </form>
        }
    </main>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")


</body>
</html>
