@model BE.IdiomaBE

@{
    ViewBag.Title = "Eliminar Idioma";
}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Eliminar Idioma @Html.DisplayFor(model => model.Descripcion)</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">

                <a>@Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-sm btn-outline-secondary", @type = "button" })</a>

            </div>

        </div>
    </div>

    <div class="container-fluid">

        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.Id)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Id)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.FechaCreacion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FechaCreacion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FechaModificacion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FechaModificacion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Descripcion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Descripcion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PorDefecto)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PorDefecto)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Eliminar" class="btn btn-danger" /> 

            </div>
        }
    </div>

    </main>
