@model X.PagedList.PagedList<BE.IdiomaBE>

@using X.PagedList.Mvc
@using X.PagedList.Mvc.Common

    @{
        Dictionary<string, BE.IdiomaTraduccionBE> Traducciones = (Dictionary<string, BE.IdiomaTraduccionBE>)Session["Traducciones"];
        ViewBag.Title = Traducciones["Idiomas"].Texto;
    }

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">@Traducciones["GestionDeIdiomas"].Texto</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group me-2">
                    @using (Html.BeginForm())
                    {
                        <div class="btn-group me-2">
                       
                                @Html.TextBox("Dato_Buscar", ViewBag.ValorFiltro as string, new { @autocomplete = "off", @autofocus = "",@placeholder= @Traducciones["Buscar"].Texto })
                                <button type="button" class="btn btn-sm btn-outline-secondary">@Traducciones["Exportar"].Texto</button>
                                <a>@Html.ActionLink(@Traducciones["Nuevo"].Texto, "Create", "Idioma", null, new { @class = "btn btn-sm btn-outline-primary", @type = "button" })</a>
                   
                        </div>
                    }


                </div>

            </div>
        </div>
        <div class="container-fluid">
            <div class="alert alert-primary alert-dismissible fade show" role="alert">
                <strong>@Traducciones["LeyendaIdiomasDisponibles"].Texto</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            @if (ViewBag.ResultadoOk != null)
            {
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>Correcto:</strong> @ViewBag.ResultadoOk
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }


            @if (ViewBag.ResultadoNoOk != null)
            {
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>Error:</strong> @ViewBag.ResultadoNoOk
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }



            <table class="table table-hover table-responsive">
                <thead>
                    <tr>

                        <th scope="col">@Traducciones["Descripcion"].Texto</th>
                        <th scope="col">@Traducciones["PorDefecto"].Texto</th>
                        <th scope="col">@Traducciones["FechaCreacion"].Texto</th>
                        <th scope="col">@Traducciones["FechaModificacion"].Texto</th>
                        <th scope="col">@Traducciones["Traducido"].Texto</th>
                        <th scope="col">@Traducciones["Acciones"].Texto</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)

                    {
                        <tr>

                            <td>@Html.DisplayFor(model => item.Descripcion)</td>
                            <td>@Html.DisplayFor(model => item.PorDefecto)</td>
                            <td>@Html.DisplayFor(model => item.FechaCreacion)</td>
                            <td>@Html.DisplayFor(model => item.FechaModificacion)</td>
                            <td>@Html.DisplayFor(model => item.PorcentajeTraducido) %</td>

                            <td>
                                <a href="@Url.Action("Edit", "Idioma", new {id=item.Id })"><i class="fa fa-edit"></i></a>&ensp;&ensp;
                                <a href="@Url.Action("Traduccion", "Idioma", new {id=item.Id })"><i class="fa fa-language"></i></a>&ensp;&ensp;
                                <a href="@Url.Action("Delete", "Idioma", new {id=item.Id })"><i class="fa fa-trash"></i></a>&ensp;&ensp;
                            </td>

                        </tr>



                    }

                </tbody>
            </table>
            <div class="pagination">
                @Html.PagedListPager(Model, pagina => Url.Action("Index", new { pagina, Valor_Filtro = ViewBag.ValorFiltro }),
                new PagedListRenderOptions
                {
                    DisplayLinkToIndividualPages = true,
                    DisplayPageCountAndCurrentLocation = false,
                    MaximumPageNumbersToDisplay = 8,
                    LiElementClasses = new string[] { "page-item" },
                    PageClasses = new string[] { "page-link" },
                })
            </div>

        </div>
    </main>

    <script>

        window.onload = function () {
            document.getElementById('idioma-collapse').className = 'show';
            document.getElementById('Idioma').className = 'btn-activo';
        };
    </script>
