@model X.PagedList.PagedList<BE.IdiomaTraduccionBE>

@using X.PagedList.Mvc
@using X.PagedList.Mvc.Common

@{
    ViewBag.Title = "Traduccion";
    var Idioma = Request.Url.Segments[3];
}



<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Traducciones para Idioma @ViewBag.NombreIdioma </h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            @using (Html.BeginForm())
            {
                <div class="btn-group me-2">
                    <span>
                        Buscar @Html.TextBox("Dato_Buscar", ViewBag.ValorFiltro as string, new { @autocomplete = "off", @autofocus = "" })

                    </span>
                </div>
            }
            <div class="btn-group me-2">
                <a>@Html.ActionLink("Volver", "Index", "Idioma", null, new { @class = "btn btn-sm btn-outline-secondary", @type = "button" })</a>
            </div>

        </div>
    </div>
    <div class="container-fluid">




        <table class="table" style="max-width:900px;">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.First().Etiqueta.Id)
                    </th>
                    <th>
                        Etiqueta
                    </th>
                    <th>
                        Traducción
                    </th>

            </thead>

       

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Etiqueta.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Etiqueta.Nombre)
                    </td>

                    <td>
                        <div class="input-group mb-3">
                            @Html.EditorFor(modelItem => item.Texto, new { htmlAttributes = new { @id = item.Etiqueta.Id, @class = "form-control", @type = "text" }, onchange = "Editado()" })
                            <a href="#" onclick="GuardarTraduccion(@item.Etiqueta.Id,'@item.Texto')" id="Texto@(@item.Etiqueta.Id)" class="btn btn-outline-secondary" type="button"><i class="fa fa-save guardar" id="Guardar@(@item.Etiqueta.Id)"></i></a>
                        </div>

                    </td>
                </tr>
            }

        </table>
        <div class="pagination">
            @Html.PagedListPager(Model, pagina => Url.Action("Traduccion", new { pagina, Valor_Filtro = ViewBag.ValorFiltro }),
            new PagedListRenderOptions
            {
                DisplayLinkToIndividualPages = true,
                DisplayPageCountAndCurrentLocation = false,
                MaximumPageNumbersToDisplay = 8,
                LiElementClasses = new string[] { "page-item" },
                PageClasses = new string[] { "page-link" },
            })
        </div>


    </div>


</main>

<script>

    window.onload = function () {
        document.getElementById('idioma-collapse').className = 'show';
        document.getElementById('Idioma').className = 'btn-activo';
    };
</script>
@section scripts{

    <script>
        var GuardarTraduccion = function (Etiqueta, Traduccion) {


            var Idioma =@Html.Raw(Json.Encode(@Idioma));
            var Traduccion = $('#'+Etiqueta).val();
            $.ajax({

                type: "POST",
                url: "/Idioma/GuardarTraduccion",
                data: { Idioma:Idioma, Etiqueta: Etiqueta, Traduccion: Traduccion },
                success: function (response) {
                    if (response.success) {


                        //

                        location.reload();
                    } else {

                        $('#Mensaje2').addClass('show');
                        window.setTimeout(function () {
                            $('#Mensaje2').removeClass('show');
                        }, 2000);
                    }
                }

            })

        }

    </script>





}