@model X.PagedList.PagedList<BE.AsignacionLicenciaBE>

@using X.PagedList.Mvc
@using X.PagedList.Mvc.Common

@{
    Dictionary<string, BE.IdiomaTraduccionBE> Traducciones = (Dictionary<string, BE.IdiomaTraduccionBE>)Session["Traducciones"];
    ViewBag.Title = Traducciones["Asignaciones"].Texto;
}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">@Traducciones["Asignaciones"].Texto</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
                @using (Html.BeginForm())
                {
                    <div class="btn-group me-2">
                        <div class="ocultar-cel btn-group me-2">
                            @Html.DropDownList("Colaborador", new SelectList(ViewBag.Colaboradores, "Id", "NombreCompleto"), new { @class = "" })


                            @Html.DropDownList("Estado", new SelectList(ViewBag.Estados, "Id", "Descripcion"), new { @class = "" })


                            @Html.DropDownList("Dispositivo", new SelectList(ViewBag.Dispositivos, "Id", "Nombre"), new { @class = "" })

                            <input type="submit" value="@Traducciones["Filtrar"].Texto" class="btn btn-sm btn-outline-secondary" />
                            </div>
                            <button type="button" class="btn btn-sm btn-outline-secondary">@Traducciones["Exportar"].Texto</button>
                            <a>@Html.ActionLink(@Traducciones["Nuevo"].Texto, "Create", "AsignacionLicencia", null, new { @class = "btn btn-sm btn-outline-primary", @type = "button" })</a>
                        </div>
                        }


                    </div>

                </div>
    </div>
    <div class="container-fluid">

        @if (ViewBag.CreadoOk != null)
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>@Traducciones["Correcto"].Texto:</strong> @Traducciones["LicenciaAsignada"].Texto
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        @if (ViewBag.FinalizadoOk != null)
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Correcto:</strong> @Traducciones["LicenciaAsignacionFinalizada"].Texto
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }

    <div class="table-responsive">

        <table class="table table-hover ">
            <thead>
                <tr>

                    <th>
                        @Traducciones["Licencia"].Texto
                    </th>
                    <th>
                        @Traducciones["NumeroContrato"].Texto
                    </th>
                    <th>
                        @Traducciones["Tipo"].Texto
                    </th>
                    <th>
                        @Traducciones["Colaborador"].Texto
                    </th>
                    <th>
                        @Traducciones["Dispositivo"].Texto
                    </th>
                    <th>
                        @Traducciones["FechaInicio"].Texto
                    </th>
                    <th>
                        @Traducciones["Estado"].Texto
                    </th>

                    <th></th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Licencia.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Licencia.NumeroContrato)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Licencia.Modalidad.Descripcion)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Colaborador.NombreCompleto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Activo.Nombre)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.FechaInicio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Estado.Descripcion)
                    </td>

                    <td>

                        <a href="@Url.Action("Details", "AsignacionLicencia", new {id=item.Id })"><i class="fa fa-eye"></i></a>&ensp;&ensp;
                        @if (item.Estado.Id == 1)
                        {
                            <a href="@Url.Action("Finalizar", "AsignacionLicencia", new { id = item.Id })">@Traducciones["Finalizar"].Texto</a>
                        }


                    </td>
                </tr>
            }

        </table>
    </div>
        <div class="pagination">
            @Html.PagedListPager(Model, pagina => Url.Action("Index", new { pagina, Colaborador = ViewBag.Colaborador, Estado = ViewBag.Estado, Dispositivo = ViewBag.Dispositivo }),
            new PagedListRenderOptions
            {
                DisplayLinkToIndividualPages = true,
                DisplayPageCountAndCurrentLocation = false,
                MaximumPageNumbersToDisplay = 8,
                LiElementClasses = new string[] { "page-item" },
                PageClasses = new string[] { "page-link" },
            })
        </div>
    </div>

</main>

<!-- Modal Confirmar Eliminación-->
<div class="modal fade" id="Confirmar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> @Traducciones["Eliminar"].Texto </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @Traducciones["ConfirmarEliminarDispositivo"].Texto <b id="nombre_act"></b> ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> @Traducciones["Cancelar"].Texto</button>
                <button type="button" class="btn btn-primary" onclick="Eliminar()"> @Traducciones["Confirmar"].Texto</button>
            </div>
        </div>
    </div>
</div>

@*Para eliminar campo oculto para el Id*@

<input type="hidden" id="IdAsignacionDeActivo" />

<script>

    window.onload = function () {
        document.getElementById('licencias-collapse').className = 'show';
        document.getElementById('AsigLicencias').className = 'btn-activo';
    };
</script>

<script>
    var Confirmar = function (id, nombre) {

        $("#IdAsignacionDeActivo").val(id);
        $("#nombre_act").text(nombre);
        $("#Confirmar").modal('show');
    }

    var Eliminar = function () {

        var Id = $('#IdAsignacionDeActivo').val();

        $.ajax({

            type: "POST",
            url: "/AsignacionDeActivo/Delete",
            data: { id: Id },
            success: function (response) {
                if (response.success) {
                    $("#Confirmar").modal("hide");
                    location.reload();

                } else { }
            }
        })
    }

</script>