@model BE.LicenciaBE

@{
    Dictionary<string, BE.IdiomaTraduccionBE> Traducciones = (Dictionary<string, BE.IdiomaTraduccionBE>)Session["Traducciones"];
    ViewBag.Title = Traducciones["EditarContrato"].Texto;
}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">@Traducciones["EditarDispositivo"].Texto</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
                <a>@Html.ActionLink(@Traducciones["Volver"].Texto, "Index", null, new { @class = "btn btn-sm btn-outline-secondary", @type = "button" })</a>

            </div>
        </div>
    </div>

    <div class="container-fluid pull-left" style="max-width:1024px">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

        <div class="row gy-2 gx-3 align-items-center">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)


            <div class=" col-auto">
                <div class=" input-group col-md-10">
                    <span class="input-group-text">Id</span>
                    @Html.EditorFor(model => model.Id, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                    @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })
                </div>
            </div>



            <div class="col-auto">
                <div class=" input-group col-md-10">
                    <span class="input-group-text"> @Traducciones["Descripcion"].Texto</span>
                    @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                    @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-auto">
                <div class="input-group col-md-10">
                    <span class="input-group-text"> @Traducciones["ProductoSoftware"].Texto</span>
                    @Html.DropDownListFor(model => model.Producto.Id, new SelectList((System.Collections.IEnumerable)ViewData["Productos"], "Id", "Descripcion"), new { @class = "form-control" })
                </div>
            </div>

            <div class="col-auto">
                <div class="input-group col-md-10">
                    <span class="input-group-text"> @Traducciones["Cantidad"].Texto</span>
                    @Html.EditorFor(model => model.Cantidad, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Cantidad, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-auto">
                <div class="input-group col-md-10">
                    <span class="input-group-text"> @Traducciones["FechaVigencia"].Texto</span>
                    @Html.EditorFor(model => model.FechaVigencia, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FechaVigencia, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-auto">
                <div class="input-group col-md-10">
                    <span class="input-group-text"> @Traducciones["FechaFinalizacion"].Texto</span>
                    @Html.EditorFor(model => model.FechaFinalizacion, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FechaFinalizacion, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-auto">
                <div class="input-group col-md-10">
                    <span class="input-group-text"> @Traducciones["ModalidadLicencia"].Texto</span>
                    @Html.DropDownListFor(model => model.Modalidad.Id, new SelectList((System.Collections.IEnumerable)ViewData["Modalidades"], "Id", "Descripcion"), new { @class = "form-control" })
                </div>
            </div>

            <div class="col-auto">
                <div class="input-group col-md-10">
                    <span class="input-group-text"> @Traducciones["NumeroContrato"].Texto</span>
                    @Html.EditorFor(model => model.NumeroContrato, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NumeroContrato, "", new { @class = "text-danger" })
                </div>
            </div>

            <br />
            <div class="form-group col-sm-4">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="@Traducciones["Guardar"].Texto" class="btn btn-primary" />
                </div>
            </div>
        </div>
        }

    </div></main>

<script>

    window.onload = function () {
        document.getElementById('licencias-collapse').className = 'show';
        document.getElementById('Licencias').className = 'btn-activo';
    };
</script>
